@media screen and (min-width: 768px) {
  header {
    grid-template-columns: auto 1fr;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    grid-column: auto;
    margin-top: 0;
  }

  nav a {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .list .member-card {
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {

  .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 80%;
  text-align: center;
  background-color: rgba(0, 48, 73, 0.8);
  padding: 2rem;
  border-radius: 10px;
}

  .home-grid {
    grid-template-columns: 2fr 1fr;
  }

  .spotlights {
    grid-template-columns: repeat(3, 1fr);
  }
}