@media screen and (min-width: 768px) {

  header {
    grid-template-columns: auto 1fr;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    grid-column: auto;
    margin-top: 0;
  }

  nav a {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .list .member-card {
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

  .hero {
    min-height: 500px;
  }

  .hero-text {
    width: 70%;
    max-width: 600px;
    padding: 2rem;
  }

  .home-grid {
    grid-template-columns: 2fr 1fr;
  }

  .spotlights {
    grid-template-columns: repeat(3, 1fr);
  }

  .join-layout {
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }
}
@media screen and (min-width: 641px) {
  .discover-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

@media screen and (min-width: 1025px) {
  .discover-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "card1 card1 card2 card3"
      "card4 card5 card5 card6"
      "card7 card8 card8 card6";
  }

  .discover-card img:hover {
    filter: brightness(75%);
    transform: scale(1.03);
    transition: transform 0.3s ease, filter 0.3s ease;
  }
}